In [11]:
# menggabungangkan file csv

import os
import pandas as pd

In [12]:
# lokasi data
current_dir = os.getcwd()
print(current_dir)

/Users/nahrowi/Documents/UGM/TesisSemhas

In [13]:
# Masukkan path directory tempat menyimpan file CSV
folder_path = '/Users/nahrowi/Documents/UGM/TesisSemhas/DataPolitikInstagram/'  # Ganti dengan path folder di mana file CSV disimpan

In [14]:
# membuat folder Data_Final
output_folder = 'Data_gabungan_instagram_1'
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

In [6]:
for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        df = pd.read_csv(file_path)
        print(f"Columns in {filename}: {df.columns}")
        print(df.head(2))

Columns in megawati disadap kumparan.csv: Index(['id', 'username', 'text', 'created_at'], dtype='object')
                  id     username  \
0  17980637888770181  dewiuwitwiw
1  17988277139592620     pakjanur

                                                text           created_at
0         Setiap hari nontonin sinema indosiar pasti  2024-10-29 03:34:32
1  Berarti kalo nongkrong di wc ga bawa hp? Apa e...  2024-10-29 08:26:06
Columns in komentar_instagram_ridwan_kamil.csv: Index(['id', 'username', 'text', 'created_at'], dtype='object')
                  id     username  \
0  18023379044624235  pramonoaksa
1  18047338973501357  rokhim_moch

                                          text           created_at
0                                            üòÇ  2024-11-14 12:21:13
1  Lama lama koq eneg ya baca semua lawakan RK  2024-11-14 12:22:50
Columns in jokowi memoles.csv: Index(['id', 'username', 'text', 'created_at'], dtype='object')
                  id           username  \
0  18033394301337511  merry_triaanthony
1  18328865938199197  kasnarian.adinata

                                                text           created_at
0  Tidak takutkah dengan hari pembalasan Pa Mulyo...  2024-10-13 11:23:30
1  Ya ampunnn,, segitunyaa mulyono pengen diakhir...  2024-10-13 11:08:12

In [15]:
# import os
# import pandas as pd

# Inisialisasi list untuk menyimpan data dari semua file CSV
all_data = []

# Path folder tempat file CSV
# folder_path = "path_to_your_folder"  # Ganti dengan path folder Anda
# output_folder = "path_to_output_folder"  # Ganti dengan path output

# Kolom yang diharapkan
expected_columns = ['id', 'username', 'text', 'created_at']

# Loop untuk membaca semua file CSV di folder
for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        
        # Baca file dengan header di baris pertama
        df = pd.read_csv(file_path, header=0)
        print(f"Reading {filename}: {df.shape}")
        
        # Pastikan kolom sesuai dengan yang diharapkan
        for col in expected_columns:
            if col not in df.columns:
                print(f"Warning: Column '{col}' is missing in {filename}")
                df[col] = None  # Tambahkan kolom yang hilang dengan None
        
        # Urutkan kolom agar konsisten
        df = df[expected_columns]
        
        # Tambahkan data ke dalam list
        all_data.append(df)

# Gabungkan semua DataFrame menjadi satu DataFrame besar
combined_data = pd.concat(all_data, ignore_index=True)

# Simpan hasil gabungan ke file CSV
output_file_path = os.path.join(output_folder, 'data_politik_instagram_merge_1.csv')
combined_data.to_csv(output_file_path, index=False)

# Print beberapa baris dari hasil gabungan untuk pengecekan
print("Final combined data shape:", combined_data.shape)
print(combined_data.head())

Reading megawati disadap kumparan.csv: (1063, 4)
Reading komentar_instagram_ridwan_kamil.csv: (403, 4)
Reading jokowi memoles.csv: (1341, 4)
Final combined data shape: (2807, 4)
                  id      username  \
0  17980637888770181   dewiuwitwiw
1  17988277139592620      pakjanur
2  18006676418491073  ibaymochamad
3  18009968459462036      rizkyrsl
4  18008667005651995   fikram_zain

                                                text           created_at
0         Setiap hari nontonin sinema indosiar pasti  2024-10-29 03:34:32
1  Berarti kalo nongkrong di wc ga bawa hp? Apa e...  2024-10-29 08:26:06
2          Itukan pilihan yah, knp kita ributin hehe  2024-10-29 05:30:46
3  Kebetulan buk, sutradara james bond sekarang l...  2024-10-29 05:23:20
4  Di umur segitu emang lagi seneng¬≤ nya becanda. ü§≠ü§£  2024-10-29 06:41:41

In [17]:
# melihat data 
print(combined_data)

                     id            username  \
0     17980637888770181         dewiuwitwiw
1     17988277139592620            pakjanur
2     18006676418491073        ibaymochamad
3     18009968459462036            rizkyrsl
4     18008667005651995         fikram_zain
...                 ...                 ...
2802  18142240585347818  muhammad_taufikgms
2803  18030677933094259       ukhti_dewipus
2804  17860445436202574   ahmad_ijuriansyah
2805  17982921710745398           taufikawr
2806  18051320845911274        max_load_g4s

                                                   text           created_at
0            Setiap hari nontonin sinema indosiar pasti  2024-10-29 03:34:32
1     Berarti kalo nongkrong di wc ga bawa hp? Apa e...  2024-10-29 08:26:06
2             Itukan pilihan yah, knp kita ributin hehe  2024-10-29 05:30:46
3     Kebetulan buk, sutradara james bond sekarang l...  2024-10-29 05:23:20
4     Di umur segitu emang lagi seneng¬≤ nya becanda. ü§≠ü§£  2024-10-29 06:41:41
...                                                 ...                  ...
2802  Maaf sya gpernah pilih org ini dari 2014 sampe...  2024-10-13 12:09:21
2803  beritanya gk masuk tempo yakinlah itu lagi pen...  2024-10-13 12:09:22
2804  tinggal menunggu hari !!!i  buzer nya pada pos...  2024-10-13 12:10:20
2805  Cape cape kerja, digunainnya buat kepentingan ...  2024-10-13 12:10:22
2806                        Posisi @gnfi @indozone.id üòÇ  2024-10-13 12:10:25

[2807 rows x 4 columns]

In [9]:
# Menghapus duplikat berdasarkan seluruh kolom
# df = df.drop_duplicates()

In [10]:
# melihat data 
combined_data.head(100)

                                              Comment
0                                             Top sih
1         Orang hebat yang salah jalan, sayang banget
2          apakah suara 16% itu milik pak Mahfud ????
3   Dulu waktu bapak menkopulhukam, kenapa ga dibe...
4                                              Mantap
..                                                ...
95  He Mput.. Kamu sudah tahu, kok selama ini diam...
96  Pelamggaran H A M dihapus???...makanya setiap ...
97                         Sangat kotor nya Birokrasi
98                                 Waduh parah sihü§¶ü§¶ü§¶
99           Gak kebayang pak mahfud jadi ketua KPK ‚ù§

[100 rows x 1 columns]

In [11]:
combined_data.shape

(95521, 1)

In [18]:

# Hapus kolom 'Likes' dan 'Reply Count'
combined_data = combined_data.drop(columns=['id','username','created_at'])

In [19]:
combined_data

                                                   text
0            Setiap hari nontonin sinema indosiar pasti
1     Berarti kalo nongkrong di wc ga bawa hp? Apa e...
2             Itukan pilihan yah, knp kita ributin hehe
3     Kebetulan buk, sutradara james bond sekarang l...
4     Di umur segitu emang lagi seneng¬≤ nya becanda. ü§≠ü§£
...                                                 ...
2802  Maaf sya gpernah pilih org ini dari 2014 sampe...
2803  beritanya gk masuk tempo yakinlah itu lagi pen...
2804  tinggal menunggu hari !!!i  buzer nya pada pos...
2805  Cape cape kerja, digunainnya buat kepentingan ...
2806                        Posisi @gnfi @indozone.id üòÇ

[2807 rows x 1 columns]

In [20]:
# Simpan hasil gabungan ke file CSV
output_file_path = os.path.join(output_folder, 'data_politik_instagram_merge_1_no_column.csv')
combined_data.to_csv(output_file_path, index=False)